mixin pagination(url, current, count, perPage, q)
    - q = q || ''
    ul.justify-content-center.pagination
        // first
        li.page-item(class=current === 1 ? 'disabled' : '')
            a.page-link(href=current === 1 ? '#' : `${url}?q=${q}&page=1&perPage=${perPage}`) First

        - let prevPage = parseInt(current) - 1
        - let nextPage = parseInt(current) + 1
        - const totalPages = Math.ceil(count / perPage);

        // back
        li.page-item(class=prevPage <= 0 ? 'disabled' : '')
            a.page-link(href=prevPage <= 0 ? '#' : `${url}?q=${q}&page=${prevPage}&perPage=${perPage}`) Back

        // next
        li.page-item(class=nextPage > totalPages ? 'disabled' : '')
            a.page-link(href=nextPage > totalPages ? '#' : `${url}?q=${q}&page=${nextPage}&perPage=${perPage}`) Next

        // last
        - console.log("=>(pagination.pug:22) totalPages", totalPages);
        - console.log("=>(pagination.pug:22) current", current);
        li.page-item(class=current === totalPages || totalPages === 0 ? 'disabled' : '')
            a.page-link(href=current === totalPages ? '#' : `${url}?q=${q}&page=${totalPages}&perPage=${perPage}`) Last
