<div class="sidebar">
    <a class="logo" href="/">
        <i class="bx bx-store-alt"></i>
        <div class="logo-name">
            <span>Tech</span>
            Hut
        </div>
    </a>
    <ul class="side-menu">
        <li class="<%= sideLink === 'Home' ? 'active' : '' %> side-dashboard-btn">
            <a href="/">
                <i class="bx bxs-dashboard"></i>
                Dashboard
            </a>
        </li>
        <li class="<%= sideLink === 'Product' ? 'active' : '' %> side-product-btn">
            <a href="/products">
                <i class="bx bx-store-alt"></i>
                Product
            </a>
        </li>
        <li class="<%= sideLink === 'Checkout' ? 'active' : '' %> side-checkout-btn">
            <a href="/checkout">
                <i class="bx bx-analyse"></i>
                Checkout
            </a>
        </li>
        <li class="<%= sideLink === 'Order' ? 'active' : '' %> side-order-btn">
            <a href="/orders">
                <i class="bx bx-money"></i>
                Orders
            </a>
        </li>
        <li class="<%= sideLink === 'Customer' ? 'active' : '' %> side-customer-btn">
            <a href="/customers">
                <i class="bx bx-group"></i>
                Customer
            </a>
        </li>
        <% if (isAdmin) { %>
        <li class="<%= sideLink === 'User' ? 'active' : '' %> side-sale-btn">
            <a href="/users">
                <i class="bx bx-id-card"></i>
                Salepeoples
            </a>
        </li>
        <% } %>

        <li class="<%= sideLink === 'Report' ? 'active' : '' %> side-report-btn">
            <a href="/reports">
                <i class="bx bxs-report"></i>
                Reports
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a class="logout side-lockout-btn" href="/logout#">
                <i class="bx bx-log-out-circle"></i>
                Logout
            </a>
        </li>
    </ul>
</div>

<!-- block content  -->
