extends ../layout.pug

block content
    h1 User Information
    .card
        .card-body
            .row.mb-4
                .col-md-4
                    include ../../partials/fn
                    +renderProfilePicture(user.profilePicture)
                .col-md-8
                    .mb-3
                        label(for='email' class='form-label') Email:
                        input#email.form-control(type='text' value=user.email readonly)
                    .mb-3
                        label(for='username' class='form-label') Username:
                        input#username.form-control(type='text' value=user.username readonly)
                    .mb-3
                        label(for='fullName' class='form-label') Full Name:
                        input#fullName.form-control(type='text' value=user.fullName readonly)
                    .mb-3
                        label(for='role' class='form-label') Role:
                        input#role.form-control(type='text' value=user.role readonly)
                    .mb-3
                        label(for='createdAt' class='form-label') Creation Date:
                        input#createdAt.form-control(type='text' value=user.createdAtFormatted readonly)
                    .mb-3
                        label(for='updatedAt' class='form-label') Last Update Date:
                        input#updatedAt.form-control(type='text' value=user.updatedAtFormatted readonly)
                    .mb-3
                        label(for='isFirstLogin' class='form-label') First Login:
                        input#isFirstLogin.form-control(type='text' value= user.isFirstLogin ? 'True' : 'False' readonly)
                    .mb-3
                        label(for='inactivateStatus' class='form-label') Inactivate Status:
                        input#inactivateStatus.form-control(type='text' value= user.inactivateStatus ? 'True' : 'False' readonly)
                    .mb-3
                        label(for='lockedStatus' class='form-label') Locked Status:
                        input#lockedStatus.form-control(type='text' value= user.lockedStatus ? 'True' : 'False' readonly)