extends ../layout.pug

block content
    .row
        .col
            a.btn.btn-outline-primary(href="/users/create-account") Create salespeople

        .col-2.form-floating
            select#floatingSelect.form-select(onchange='updatePerPage(this)')
                option(selected='' value='0') select
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5
            label(for='floatingSelect') Users per page


    div.container
        h2 User List
        table.table.table-striped.table-bordered
            thead
                tr
                    th STT
                    th Avatar
                    th Email
                    th Username
                    th Full Name
                    th Role
                    th Creation Date
                    th Last Update Date
                    th First Login
                    th Inactivate Status
                    th Locked Status
                    th Handle

            tbody
            if users && users.length > 0
                each user, index in users
                    tr
                        td= index
                        td
                            +renderProfilePicture(user.profilePicture)
                        td= user.email
                        td= user.username
                        td= user.fullName
                        td= user.role
                        td= user.createdAtFormatted
                        td= user.updatedAtFormatted
                        td= user.isFirstLogin
                        td= user.inactivateStatus
                        td= user.lockedStatus
                        td
                            a.btn.btn-primary(href=`/users/${user._id}`) View
                            br
                            a.btn.btn-success(href=`/users/${user._id}/edit`) Update
                            br
                            a.btn.btn-danger(href=`/users/delete/${user._id}`) Delete
                            br
                            a.btn.btn-secondary(href=`/users/resend/${user._id}`) Resend Email
                            br
                            if user.lockedStatus
                                a.btn.btn-warning(href=`/users/unlock/${user._id}`) Unlock Account
                            else
                                a.btn.btn-info(href=`/users/lock/${user._id}`) Lock Account
            else
                tr
                    td.text-center.p-5.h4(colspan='11') No users found.


    // Display the message
    p Display #{Math.min((current - 1) * perPage + 1, count)} to #{Math.min(current * perPage, count)} of #{count} data

    // Pagination
    include ../../partials/pagination

    script.
        function updatePerPage(select) {
            const selectedValue = select.value;
            // Update the URL with the selected users per page value
            window.location.href = `/users?page=#{current}&perPage=${selectedValue}`;
        }


