extends ../layout

block content 
    .content
        include ../../partials/nav
        .container
            h2 Product Details
            .row.mb-3
                .col-md-6
                    h4 Barcode:
                    p= product.barcode

                    h4 Product Name:
                    p= product.productName

                    h4 Import Price:
                    p= product.importPrice

                    h4 Thumbnail:
                    p click to change image
                    for imageUrl in product.imageUrls
                        button.border-0.btn-change-thumbnail
                            img(src=imageUrl, width=100, height=100 alt='Product Image', class='img-fluid')
                    form#upload-form
                        input#hidden-file-input.form-control(type='file' name='imageUrls' hidden multiple)
                        button#btn-add-thumbnail.m-3.btn.btn-outline-primary.btn-add-thumbnail(type='button') +

                    h4 Select main thumbnail:
                    select#change-main-thumbnail.form-select
                        for imageUrl, index in product.imageUrls
                            option(value=imageUrl)=`Image ${index}`
                .col-md-6
                    h4 Retail Price:
                    p= product.retailPrice

                    h4 Category:
                    p= product.category.name

                    h4 Creation Date:
                    p= product.createdAtFormatted

                    h4 Last Update Date:
                    p= product.updatedAtFormatted

            .row.mb-3
                .col
                    a.btn.btn-primary(href='/products') Back to Product List

    script.
        $(function () {
            const chooseFileButton = $('#btn-add-thumbnail');
            const hiddenFileInput  = $('#hidden-file-input');
            const uploadForm       = $('#upload-form');

            $('.btn-change-thumbnail')
                .on('click', function () {
                    const removeUrl = $(this)
                        .find('img')
                        .attr('src')
                    console.log(`=>(detail.pug:53) removeUrl`, removeUrl);
                    $.ajax({
                               url    : "/products/#{product._id}/imageUrls",
                               method : 'PUT',
                               data   : {
                                   imageUrls: removeUrl
                               },
                               success: function (data) {
                                   console.log(`=>(detail.pug:77) data`, data);
                                   location.reload()
                               },
                               error  : function (error) {
                                   console.error('Error uploading file:', error);
                               }
                           });
                })

            chooseFileButton
                .on('click', function () {
                    hiddenFileInput.click();
                })

            hiddenFileInput.on('change', () => {
                uploadForm.submit();
            })

            uploadForm.on('submit', function (e) {
                e.preventDefault();

                const formData = new FormData(this);

                $.ajax({
                           url        : "/products/#{product._id}/imageUrls",
                           method     : 'POST',
                           data       : formData,
                           processData: false,
                           contentType: false,
                           success    : function (data) {
                               console.log(`=>(detail.pug:77) data`, data);
                               location.reload()
                           },
                           error      : function (error) {
                               console.error('Error uploading file:', error);
                           }
                       });
            });


            $('#change-main-thumbnail')
                .on('change', function (e) {
                    $.ajax({
                               url    : "/products/#{product._id}/main-thumbnail",
                               method : 'PUT',
                               data   : {
                                   imageUrls: $(this)
                                       .val()
                               },
                               success: function (data) {
                                   console.log(`=>(detail.pug:77) data`, data);
                                   location.reload()
                               },
                               error  : function (error) {
                                   console.error('Error uploading file:', error);
                               }
                           });
                })
        })
