extends ../layout

block content 
    .container
        h2 Product Details
        .row
            .col-md-6
                h4 Barcode:
                p= product.barcode

                h4 Product Name:
                p= product.productName

                h4 Import Price:
                p= product.importPrice

                img(src=product.imageUrls[0], alt='Product Image', class='img-fluid')

            .col-md-6
                h4 Retail Price:
                p= product.retailPrice

                h4 Category:
                p= product.category

                h4 Creation Date:
                p= product.creationDateFormatted

                h4 Last Update Date:
                p= product.lastUpdateDateFormatted

        .row
            .col
                a.btn.btn-primary(href='/products') Back to Product List