extends ../layout

block content
    .container
        a.btn.btn-primary(href="/products") Back to product list

        h2 #{product ? 'Edit Product' : 'Create Product'}
        form(method='POST', action=product ? `/products/${product._id}` : '/products')

            .mb-3(class=product ? 'd-none': '')
                label(for='barcode' class='form-label') Barcode:
                input#barcode.form-control(type='text' name='barcode', value=product ? product.barcode : '',readonly=product ? true: false, required)

            .mb-3
                label(for='productName' class='form-label') Product Name:
                input#productName.form-control(type='text' name='productName', value=product ? product.productName : '', required)

            .mb-3
                label(for='importPrice' class='form-label') Import Price:
                input#importPrice.form-control(type='number' name='importPrice', value=product ? product.importPrice : '' min='1000', required)

            .mb-3
                label(for='retailPrice' class='form-label') Retail Price:
                input#retailPrice.form-control(type='number' name='retailPrice', value=product ? product.retailPrice : '' min='1000', required)

            .mb-3
                label(for='imageUrls' class='form-label') Image URLs:
                input#imageUrls.form-control(type='text' name='imageUrls', value=product ? product.imageUrls.join('\n') : '', required)
                p.text-muted Enter image URLs separated by ;.

            // Add image preview for editing
            if product && product.imageUrls.length > 0
                .mb-3
                    label(class='form-label') Current Image:
                    each imageUrl in product.imageUrls
                        img(src=imageUrl, alt='Current Image' height='100' width='100' class='img-preview')

            .mb-3
                label(for='category' class='form-label') Category:
                select#category.form-select(name='category', required)
                    option(value='phone', selected=product ? product.category === 'phone' : '') Phone
                    option(value='accessories', selected=product ? product.category === 'accessories' : '') Accessories

            .mb-3
                label(for='creationDate' class='form-label') Creation Date:
                input#creationDate.form-control(type='date' name='creationDate', value=product ? product.creationDate.toISOString().split('T')[0] : '', required)

            .mb-3
                label(for='lastUpdateDate' class='form-label') Last Update Date:
                input#lastUpdateDate.form-control(type='date' name='lastUpdateDate', value=product ? product.lastUpdateDate.toISOString().split('T')[0] : '', required)

            button.btn(type='submit', class=`${product ? 'btn-success' : 'btn-primary'}`) #{product ? 'Save' : 'Create'}
            a.btn.btn-secondary(href='/products') Cancel
