extends ../layout.pug

block content

    .row
        .col
            a.btn.btn-primary(href="/products/add") Add product

        .col-2.form-floating
            select#floatingSelect.form-select(onchange='updatePerPage(this)')
                option(selected='' value='10') 10
                option(value='20') 20
                option(value='30') 30
                option(value='40') 40
                option(value='50') 50
            label(for='floatingSelect') Product per page


    div.container
        h2 Product List
        table.table.table-striped.table-bordered
            thead
                tr
                    th STT
                    th Barcode
                    th Product Name
                    th Import Price
                    th Retail Price
                    th Category
                    th Creation Date
                    th Last Update Date
                    th Image
                    th Handle

            tbody
            if products && products.length > 0
                each product, index in products
                    tr
                        td= index + 1
                        td= product.barcode
                        td= product.productName
                        td= product.importPrice
                        td= product.retailPrice
                        td= product.category.name
                        td= product.createdAtFormatted
                        td= product.updatedAtFormatted
                        td
                            +renderProfilePicture(product.imageUrls[0])
                        td
                            a.my-1.btn.btn-primary(href=`/products/${product._id}`) View
                            a.my-1.btn.btn-success(href=`/products/${product._id}/edit`) Update
                            button.my-1.btn.btn-danger.delete-btn(
                                data-product-name=`${product.productName}`
                                data-product-id=`${product._id}`
                            ) Delete
            else
                tr
                    td.text-center.p-5.h4(colspan='12') No products found.


    // Display the message
    p Display #{Math.min((current - 1) * perPage + 1, count)} to #{Math.min(current * perPage, count)} of #{count} data

    // Pagination
    include ../../partials/pagination

    // Confirm modal
    include ../../partials/confirm-delete-modal

    #flash-alert.alert.alert-danger(style="display: none")
        span Flash alert message

    // Script for confirming delete
    script.
        $(document).ready(function () {
            const deleteButtons = $(".delete-btn");
            const modalTitle = $("#modalDelete .modal-title");
            const confirmModalBody = $("#modalDelete .modal-body");
            const confirmDeleteButton = $("#modalDelete .btn.btn-danger");

            deleteButtons.click(function () {
                const productName = $(this).data("product-name");
                const productId = $(this).data("product-id");
                confirmModalBody.html(`Are you sure you want to delete
                <strong>${productName}</strong>?`);
                $('#modalDelete').modal('show');

                confirmDeleteButton.click(function () {
                    $('#modalDelete').modal('hide');
                    console.log('click');
                    console.log(`/products/${productId}`);
                    fetch(`/products/${productId}`, {
                        method: "DELETE"
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log("=>(list.pug:113) data", data);
                            location.reload();
                        })
                        .catch(error => {
                            console.log("Error in deleting:", error);
                        });
                });
            });
        });
    // End script for confirming delete

    script.
        function updatePerPage(select) {
            const selectedValue = select.value;
            window.location.href = `/products?page=#{current}&perPage=${selectedValue}`;
        }


