extends ..\layout.pug

block content

    .row
        .col
            a.btn.btn-primary(href="/products/add") Add product

        .col-2.form-floating
            select#floatingSelect.form-select(onchange='updatePerPage(this)')
                option(selected='' value='10') 10
                option(value='20') 20
                option(value='30') 30
                option(value='40') 40
                option(value='50') 50
            label(for='floatingSelect') Product per page


    div.container
        h2 Product List
        table.table
            thead
                tr
                    th STT
                    th Barcode
                    th Product Name
                    th Import Price
                    th Retail Price
                    th Category
                    th Creation Date
                    th Last Update Date
                    th Creation Date
                    th Last Update Date
                    th Image
                    th Handle

            tbody
            if products
                each product, index in products
                    tr
                        td= index
                        td= product.barcode
                        td= product.productName
                        td= product.importPrice
                        td= product.retailPrice
                        td= product.category
                        td= product.creationDateFormatted
                        td= product.lastUpdateDateFormatted
                        td= product.createdAtFormatted
                        td= product.updatedAtFormatted
                        td
                            img(src=product.imageUrls[0], alt='Product Image' height='100' width='100')
                        td
                            a.btn.btn-primary(href=`/products/${product._id}`) View
                            a.btn.btn-success(href=`/products/${product._id}/edit`) Update
                            a.btn.btn-danger(href=`/products/delete/${product._id}`) Delete



    // Display the message
    p Display #{Math.min((current - 1) * perPage + 1, count)} to #{Math.min(current * perPage, count)} of #{count} data

    // Pagination
    include ../../partials/pagination

    script.
        function updatePerPage(select) {
            const selectedValue = select.value;
            // Update the URL with the selected product per page value
            window.location.href = `/products?page=#{current}&perPage=${selectedValue}`;
        }


